@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kenia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Newsreader:opsz@6..72&display=swap');

body {
    background: rgb(0, 0, 0);
}

.thebody {
    width: 99%;
    height: auto;
    margin-top: 5.5em;
    position: relative;
    background-color: black;
}



.chosedevice {
    width: 15em;
    height: 15em;
    border: 5px solid orangered;
    border-radius: 20px;
    background-color: orange;
}

.Head1 {
    font-size: 35px;
    padding: 10px;
    font-family: 'Kenia', cursive;
    color: orangered;
}

.selectdev {
    width: 90%;
    height: 2em;
    margin: 10px;
    border-radius: 50px;
    border: 3px solid orangered;
    background: yellow;
    transition-duration: 500ms;
}

.selectdev:hover {
    background: orangered;
}

.top-bar {
    width: 100%;
    height: 5em;
    right: 0px;
    left: 0px;
    top: 0px;
    background: orange;
    position: fixed;
}

.Search-butnMobile {
    font-family: 'Kenia', cursive;
    position: absolute;
    right: 0px;
    width: 30%;
    height: 100%;
    color: white;
    font-size: 25px;
    background: orange;
    border: 0px;
}

.Search-butnMobile:hover {
    background: orangered;
}

.Mobile-mainhead {
    font-family: 'Kenia', cursive;
    font-size: 40px;
    margin-left: 10px;
    color: orangered;
}

.search-identify { 
    
    color: white;
    position: relative;
    font-size: 17px;
}

.LinkHead {
    font-size: 30px;
    color: rgb(12, 176, 0);
    background: black;
    border: 0px;
    font-family: 'Kenia', cursive;
}

.LinkHead2 {
    font-size: 30px;
    color: rgb(12, 176, 0);
    background: orangered;
    border: 0px;
    font-family: 'Kenia', cursive;
}

.Descriptions {
    color: orange;
    font-size: 17px;
}

.Descriptions2 {
    color: black;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 17px;
}

.img-open {
    color: white;
}

.imges-box {
    width: 99%;
    height: auto;
    border-radius: 20px;
    position: relative;
    background: rgb(59, 59, 59);
}

.imghead {
    width: 90%;
    height: 1.5em;
    margin: 15px;
    margin-top: 10px;
    position: relative;
    border-radius: 5px;
    color: white;
    font-size: 30px;
    background: rgb(37, 36, 36);
}

.note {
    margin-left: 15px;
    padding-bottom: 10px;
    color: orangered;
}

.choseview {
    width: 100%;
    height: 2em;
    background: rgb(29, 29, 29);
    position: relative;
    border-radius: 50px;
}

.select-mode-1 {
    margin: 5px;
    border-radius: 50px;
    border: 3px solid orangered;
    color: black;
    background: orangered;
}

.select-mode-2 {
    border-radius: 50px;
    border: 3px solid orangered;
    color: orangered;
    background: black;
}

.select-mode-2:hover {
    color: black;
    background-color: orangered;
}

.line {
    width: 100%;
    height: 4px;
    margin-top: 10px;
    position: relative;
    background: rgb(29, 29, 29);
}

.line2 {
    width: 100%;
    height: 3px;
    margin-top: 5px;
    border-radius: 10px;
    background: rgb(152, 0, 0);
}

.videobox {
    width: 95%;
    margin: 5px;
    height: 6em;
    background: black;
    display: flex;
    align-items: center;
}

.vidpic {
    width: 130px;
    margin: 10px;
    border-radius: 5px;
    position: relative;
}

.Vid-Link {
    font-size: 20px;
    position: relative;
    font-family: monospace;
    color: orange;
    border: 0px;
    background: black;
}

.search-container {
    width: 90%;
    margin: 2em auto;
    height: 3em;
    background: rgba(245, 222, 179, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid orangered;
    border-radius: 50px;
}

.lineverticle {
    width: 2px;
    height: 70%;
    border-radius: 50px;
    background: rgb(80, 80, 80);
}

.Search-butn {
    margin-left: 5px;
    color: orangered;
}

.Search-butn:hover {
    color: white;
}

.di {
    margin: 2em auto;
    padding:4px;
    width: 90%;
    height: 36%;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
  }

#mySearch {
    width: 93%;
    height: 3em;
    font-size: 14px;
    color: orangered;
    background-color: transparent;
    border: 0px solid;
    outline: none;
}
  
  /* Style the navigation menu */
  #myMenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 10px;
  }
  
  /* Style the navigation links */
  #myMenu li a {
    padding: 12px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 50px;
    display: block
  }
  
  #myMenu li a:hover {
    background-color: orangered;
  }


.game {
    width: 90%;
    height: 200px;
}

.character {
    width: 20px;
    height: 50px;
    background-color: orangered;
    position: relative;
    top: 150px;
    animation: jump 500ms infinite;
    border-radius: 20px;
}

@keyframes jump {
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
}

.block {
    width: 20px;
    height: 20px;
    background-color: rgb(0, 255, 17);
    position: relative;
    top: 130px;
    left: 480px;
    animation: block 1s infinite;
    border-radius: 50px;
}

@keyframes block {
    0%{left: 480px;}
    100%{left:-40px;}
}

.img-pic {
    width: 250px;
    margin-left: 40px;
    padding-bottom: 10px;
    position: relative;
    border-radius: 20px;
}

.exp-img{
    margin-left: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

/* The grid: Four equal columns that floats next to each other */
.column {
    float: none;
    width: 25%;
    padding: 10px;
  }
  
  /* Style the images inside the grid */
  .column img {
    opacity: 0.8;
    cursor: pointer;
  }
  
  .column img:hover {
    opacity: 1;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The expanding image container (positioning is needed to position the close button and the text) */
  .container {
    position: relative;
    display: none;
  }
  
  /* Expanding image text */
  #imgtext {
    width: auto;
    height: auto;
    background: rgb(35, 35, 35);
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }
  
  /* Closable button inside the image */
  .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }

  #demo{
    color: green;
    font-size: 50px;
    font-family: monospace;
  }

  .h2count{
    color: green;
  }

details {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    margin-top: 5px;
    background: orangered;
}

.linka {
    color: greenyellow;
    font-style: italic;
    font-size: 20px;
}

.Dailynews {
    width: 90%;
    height: auto;
    margin: 3em auto;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.067);
}

h3 {
    color: rgb(7, 255, 7);
    font-family: 'kenia', cursive;
    font-size: 30px;
    padding: 20px;
    position: relative;
}

.line3 {
    width: 90%;
    height: 2px;
    margin-left: 10px;
    background-color: rgb(35, 35, 35);
}

.displaymainheadline {
    width: 90%;
    height: auto;
    background: rgba(255, 255, 255, 0);
    margin: 10px;
    border-radius: 10px;
}

.displaymainheadline:hover {
    background: rgba(255, 255, 255, 0.131);
}

.main-thum-news { 
    width: 90%;
    margin: 10px;
    border-radius: 10px;
}

.newstittle {
    font-size: 25px;
    color: orangered;
    margin-left: 10px;
    margin-top: 10px;
    padding-bottom: px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.Eventposter {
    width: 98.3%;
    border-radius: 20px;
    margin: 10px;
    position: relative;
    box-shadow: 0 4px 8px 0 #26909a, 0 6px 20px 0 rgb(0, 255, 229);
}